.TodoSearch {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input {
    width: 80%;
    max-width: 500px;
    height: 70px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    outline: none;
    padding: 0 10px;
    border: none;
}

.input:focus {
    border: 2px solid #00979c ;
}

@media screen and (max-width: 500px) {
    .input {
        height: 40px;
        font-size: 1.2rem;
    }
 }
