.TodoCounter {
  width: 100%;
  background-color: #654ea3bf;
  color: aliceblue;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  height: 210px;
  padding-top: 15px;
  border-radius: 0px 0px 20px 20px;
}

.title {
  display: flex;
  margin: auto;
  align-items: center;
  max-width: 500px;
}

.title h1 {
  font-size: 1.7rem;
  text-align: center;
  margin: 10px 0px;
}


.sub-title h2,
p {
  text-align: center;
  margin: 10px 0px;
}

.sub-title {
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 10px;
}

.sub-title > div {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 500px) {
  .TodoCounter {
    height: 190px;
  }
  .title {
    margin: 0 20px;
  }
  .sub-title {
    padding-top: 0;
    margin: 0 20px;
  }
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
}
