.TodoButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.button {
    border-radius: 100%;
    background-color: #654EA3BF;
    padding: 5px 15px;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .button {
        font-size: 2rem;
    }
}
