body {
  margin: 0;
  padding: 0;
  background-color: #8383FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ramaraja';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Sans Serif';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Ramaraja-Regular.ttf);
}

p{
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

#root {
  width: 100%;
  margin: 24px 0;
  position: relative;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
